.mg-auto-25 {
  margin: 25px auto;
}

.pad-0-10 {
  padding: 0 10px;
}

.pad-0 {
  padding: 0;
}

button {
  outline: none;
}

mat-spinner, mat-footer-cell {
  margin: auto;
}

.hidden {
  display: none;
}

.filter-search {
  margin: auto;
  width: 50%;
  display: block;
}
