<mat-divider></mat-divider>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 40px;">
        <p> Made with &#10084; {{year}}</p>
        <a href="https://github.com/HAL94/technician-log-app" target="_blank">
          <img src="../../../assets/github.svg" alt="Source Code at Github" height=30>
        </a>
      </div>
    </div>
  </div>
</div>
