<div class="col-xs-12 col-sm-10 mg-auto-25">
  <mat-card>
    <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="col-xs-12 col-sm-6 form-section">
            <h4>Customer Information</h4>
            <mat-form-field>
                <input matInput formControlName="customerName" placeholder="Enter a name" name="customerName" type="text" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="email" placeholder="Enter an email" name="email" type="email" required
                email>
              <mat-error *ngIf="entryForm.get('email').invalid
               && (entryForm.get('email').touched || entryForm.get('email').dirty)">
               Must enter valid email
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="company" name="company" placeholder="Enter Company" type="text">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="department" name="department" placeholder="Enter department" type="text">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="location" name="location" placeholder="Enter location" type="text">
            </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 form-section">
          <h4>Device Information</h4>
          <mat-form-field>
              <input matInput formControlName="deviceName" name="deviceName" placeholder="Enter Device Title" type="text">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="deviceType" name="deviceType" placeholder="Enter Device Type" type="text">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="deviceSn" name="deviceSn" placeholder="Enter Device Serial Number" type="text">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="description" name="description" placeholder="Enter Description" type="text">
            </mat-form-field>
        </div>
      <button mat-raised-button class="submit-btn" color="primary" type="submit" *ngIf="!isLoading" [disabled]="entryForm.invalid">{{submitTitle}}</button>
    </form>
  </mat-card>
</div>
