<div class="mat-elevation-z8 col-xs-12 col-sm-10 mg-auto-25 pad-0">
  <mat-form-field floatLabel="never" class="filter-search">
    <input matInput [(ngModel)]="filter" placeholder="Filter Entries" autocomplete="off" (keyup)="filterTable(filter)">
    <button matSuffix mat-button mat-icon-button aria-label="Clear" *ngIf="filter" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-table [dataSource]="techEntryTable" matSort>
    <ng-container matColumnDef="customerName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.customer.customerName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.customer.location}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Company</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.customer.company}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="department">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Department</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.customer.department}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="deviceType">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Asset Type</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.device.deviceType}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="deviceSn">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Serial Number</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.device.deviceSn}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>settings</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onEditNavigate(row)" color="accent">Edit</button>
            <button mat-menu-item color="warn" (click)="onDelete(row)">Delete</button>
          </mat-menu>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="12">
          <mat-spinner></mat-spinner>
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="none">
      <mat-footer-cell *matFooterCellDef colspan="12">
          No Entries...
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hidden': techEntryTable != null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['none']" [ngClass]="{'hidden': !(techEntryTable != null && techEntryTable.data.length == 0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>

</div>
