<div class="container">
  <div class="row">
      <div class="col-xs-12 col-md-12">
        <mat-card>
          <div class="title-block">
            <h1 class="mg-top-10 intro-title title-color">Tech Logs Application</h1>
            <p id="date">Edited at 14/07/2019</p>
          </div>
          <div class="main-description">
              When I was working as Computer Technician, a lot of tracking of was paper based, this will include receiving requests in paper form, checking them as complete and handing them to Managment for further processing. I thought, why not put my skills to use by building a MEAN application. This by no means strictly follows the Business Process as this was done as a side project to gain more experience and to practice my Web Development Skills. And so this was used as a simple tool for my job as a Computer Technician.
              As a technician I must install workstations or laptops for customers. A job request consists of one or more machines corresponding exactly to one user, in my application, I log these information for the technician as entries.
          </div>
          <div class="main-description">
              The objective is to track the large quantities of devices and customers I go through in a daily basis as a technician and see how much I achieved in a daily basis and overall, this will include tracking my pendings and completions of jobs and how much I completed in a monthly basis among a few extra tools. It will also enable me to utilize a to-do list to track tasks to be done for each job.
          </div>
          <mat-divider></mat-divider>
          <div class="section" style="margin-top: 65px">
            <h3 class="text-center title-color">Built With...</h3>
            <div class="tools">
              <div class="tool-box col-xs-12 col-lg-4">
                <img class="tool-icon" src="../../../assets/angular.png" height=90>
              </div>
              <div class="tool-box col-xs-12 col-lg-4">
                  <img class="tool-icon" src="../../../assets/nodejs.png" height=90>
              </div>
            </div>
            <div class="tools">
              <div class="tool-box col-xs-12 col-lg-4">
                  <img class="tool-icon img-responsive" src="../../../assets/mongodb.png" height=140>
              </div>
              <div class="tool-box col-xs-12 col-lg-4">
                <h4 id="expressjs">ExpressJS</h4>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="section" style="margin-top: 65px">
            <h3 class="text-left title-color fs-20">Further Development:</h3>
            <p>There is surely great potential to grow this application in many ways which I list over here. </p>
            <mat-list role="list">
              <mat-list-item role="listitem"><mat-icon mat-list-icon>radio_button_unchecked</mat-icon>
                As businesses can be large and/or complex, this could grow into an application that manages data information for different users and roles, such as the Manager role, in turn, this will add features such as User Roles and Priviliges.
              </mat-list-item>
              <mat-list-item role="listitem"><mat-icon mat-list-icon>radio_button_unchecked</mat-icon>If this application were to grow, it would mean the data will grow as well, therefore, a search functionality was one of the things I very much thought of implementing.</mat-list-item>
              <mat-list-item role="listitem"><mat-icon mat-list-icon>radio_button_unchecked</mat-icon>Occasionally, a customer may comeback with a request for another machine, that's why it was a good idea to use the search functionality to reuse the data available about the customer to log the new request and pre-populate that information in a form</mat-list-item>
              <mat-list-item role="listitem"><mat-icon mat-list-icon>radio_button_unchecked</mat-icon>Customer and Devices Profiles. A simple profile of any given machine or customer displaying basic infromation. For instance, for machines it would be Serial Number, Machine Type, Description, etc... and for Customers it would be Name, Serial Number, Location, Contact and Profile Picture</mat-list-item>
            </mat-list>
          </div>
        </mat-card>
    </div>
  </div>
</div>

