<div class="col-xs-12 col-md-5 mg-auto-25">
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSignup(signupForm)" *ngIf="!isLoading" #signupForm="ngForm">
        <mat-form-field>
            <input matInput ngModel placeholder="Enter your email" name="email" type="email" #emailInput="ngModel" required email>
            <mat-error *ngIf="emailInput.invalid || !emailInput.value">{{"Enter a valid email address"}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput ngModel name="password" placeholder="Enter your password" #passwordInput="ngModel" type="password" required>
            <mat-error *ngIf="passwordInput.invalid || !passwordInput.value">{{"Enter a valid password"}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput ngModel name="firstName" placeholder="Enter your First Name" #firstNameInput="ngModel" type="text" required>
          <mat-error *ngIf="firstNameInput.invalid || !firstNameInput.value">{{"This field is required"}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput ngModel name="lastName" placeholder="Enter your Last Name" #lastNameInput="ngModel" type="text" required>
          <mat-error *ngIf="lastNameInput.invalid || !lastNameInput.value">{{"This field is required"}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput ngModel name="badgeNumber" placeholder="Enter your Badge Number" #badgeNumberInput="ngModel" type="number" required>
          <mat-error *ngIf="!badgeNumberInput.value">{{"This field is required and must be numbers only"}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput ngModel name="birthdate"
          [matDatepicker]="picker"
          placeholder="Enter your Birth Date"
          #birthDateInput="ngModel"
          [min]="minDate"
          [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading" [disabled]="signupForm.invalid">Sign Up</button>
    </form>
  </mat-card>
</div>
